@model Social_Media.Models.Concert

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                <img class="card-img-top" src="@Html.DisplayFor(model => model.Image)" alt="Card image cap">
            </dd>>
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcertCategory)
        </dd>
        
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
